@{
    ViewBag.Title = "Epm";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">EPM</h1>
        <p class="lead">Empresas públicas de Medellín</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="BienvenidaDeEpm">
            <h2 id="BienvenidaDeEpm">Bienvenido a nuestra página virtual</h2>
            <p>
                Acá podrás visualizar las estadísticas relacionadas a los pagos de agua y energía; además, podrás agregar clientes y ver información de interés de estos.
            </p>
        </section>
    </div>
</main>